$colors: ( //
  gray: (base:#dddddd, deep:#666666),
  white:(base:#ffffff, deep:#eeeeee),
  black: (base:#333333, deep:#000000),
  red:(base:#e84545),
  green:(base:#54e346),
);

@function theme($color, $type:'base', $map : $colors) {
  @if (map-has-key($map, $color)) {
    $value: map-get($map, $color);

    @if type-of($value)==color {
      @return $value;
    }

    @if (map-has-key($value, $type)) {
      $value: map-get($value, $type);

      @if type-of($value)==color {
        @return $value;
      }
    }
  }

  @return null;
}